.menu {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: hsl(var(--color-primary));
}
.menu__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  padding: 12px 20px;
  transition: color .2s;
}
.menu__item:hover {
  color: hsl(var(--color-active));
}
.menu__icon {
  font-size: 23px;
}
.menu__label {
  font-size: 17px;
  font-weight: 400;
  padding: 0 20px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__append {
  font-size: 18px;
}