.messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.messages__item {
  border-radius: 3px;
  background: #fff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: hsl(var(--color-primary));
  box-shadow: 
    0 0 10px rgba(0,0,0,.02),
    0 4px 4px rgba(0,0,0,.02),
    0 8px 8px rgba(0,0,0,.02);
}
.messages__item + .messages__item {
  margin-top: 10px;
}
.messages__avatar {
  width: 30px;
}
.messages__name {
  flex: 1;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
.messages__time {
  font-size: 12px;
}
.messages__content {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}
.messages__people {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}
.messages__people .messages__avatar {
  position: relative;
  width: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.messages__people .messages__avatar + .messages__avatar {
  margin-left: -10px;
}
.messages__more {
  font-size: 12px;
  margin-left: 5px;
}
.messages__liked {
  font-size: 12px;
  margin-right: 5px;
}