:root {
  --color-primary-h: 199;
  --color-primary-s: 18%;
  --color-primary-l: 40%;
  --color-primary: var(--color-primary-h), var(--color-primary-s), var(--color-primary-l);

  --color-active-h: 231;
  --color-active-s: 44%;
  --color-active-l: 56%;
  --color-active: var(--color-active-h), var(--color-active-s), var(--color-active-l);

  --color-main-bg: #fff;
}